<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>HOSPITAL CARRILLO listado</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="css/estilo.css" />
  </head>
  <body class="bg-dark">
    <header class="container-fluid p-3 bg-carrillo ps-5">
      <img
        src="/img/carrillo logo.jpg"
        alt=""
        width="50rem"
        class="d-flex float-start"
      />
      <h1>HOSPITAL CARRILLO</h1>
    </header>
    <div
      th:if="${exito != null}"
      class="container p-3 bg-success bg-opacity-25 border border-success border-start-0 rounded-end text-center text-white"
    >
      <div class="card-body">
        <h5 class="card-title text-warning">Exito 👌</h5>
        <p class="card-text" th:text="${exito}"></p>
      </div>
    </div>
    <div
      th:if="${error != null}"
      class="container p-3 bg-danger bg-opacity-25 border border-danger border-start-0 rounded-end text-center text-white"
    >
      <div class="card-body">
        <h5 class="card-title text-warning">Error 👎</h5>
        <p class="card-text" th:text="${error}"></p>
      </div>
    </div>
    <div class="container mt-5 bg-carrillo2 rounded pb-3">
      <h2 class="">Lista de personas cargadas</h2>
      <table class="table table-carrillo bg-carrillo2 table-striped">
        <input hidden th:value="${id}" name="id" />
        <thead class="bg-carrillo">
          <tr>
            <th scope="col">#</th>
            <th scope="col">Nombre</th>
            <th scope="col">Apellido</th>
            <th scope="col">Cantidad</th>
            <th scope="col">Código</th>
            <th scope="col">Precio</th>
            <th scope="col">Acciones</th>
          </tr>
        </thead>
        <tbody th:each="paciente : ${pacientes}">
          <tr>
            <th scope="row" th:text="${paciente.numOrden}">1</th>
            <td th:text="${paciente.nombre}">Mark</td>
            <td th:text="${paciente.apellido}">Otto</td>
            <td th:text="${paciente.cantidad}">1</td>
            <td th:text="${paciente.codigo}">1.03</td>
            <td th:text="${paciente.precio}">$1322.00</td>
            <td>
              <a th:href="@{/modificar/__${paciente.id}__}">🖋️</a>
              <a th:href="@{/eliminar/__${paciente.id}__}">❌</a>
            </td>
          </tr>
        </tbody>
        <div class="col-md-12">
          <a
            th:href="@{/}"
            type="button"
            class="btn btn-carrillo d-flex float-start m-3"
            >volver</a
          >
        </div>
      </table>
    </div>
    <footer class="container-fluid p-5 mt-5 bg-carrillo text-center">
      <h6>©️ 2023 - RAUL GOMEZ - TODOS LOS DERECHOS RESERVADOS</h6>
    </footer>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
